<%- include('partials/header') %>

<div class="alert alert-danger">
  <h4>Error</h4>
  <p><%= message %></p>
  <a href="javascript:history.back()" class="btn btn-primary">Go Back</a>
</div>

<%- include('partials/footer') %>
