<%- include('partials/header') %>

<div class="jumbotron">
  <h1 class="display-4">Welcome to Vehicle Booking System</h1>
  <p class="lead">Book your seats with ease and convenience.</p>
  <hr class="my-4">
  <p>Register as a vehicle owner or customer to get started.</p>
  <a class="btn btn-primary btn-lg" href="/register" role="button">Register Now</a>
  <a class="btn btn-secondary btn-lg" href="/login" role="button">Login</a>

</div>

<%- include('partials/footer') %>
