  .box {
    font-family: Arial, sans-serif;
    background-color: #f5f5f5;
    display: flex;
    align-items:flex-start;
    justify-content: center;
    overflow: hidden;
    padding-top: 0px; 
    
  }
  
  .container-box {
    margin-top: 0;
    width: 100%;
    max-width: 500px;
    padding: 50px;
  
   
  }
  
  .form-container-box {
    background-color: white;
    border-radius: 8px;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
    padding: 60px;
  
  }
  
  h1 {
    text-align: center;
    margin-bottom: 30px;
    color: #2c3e50;
  }
  
  h2{
    text-align: center;
    margin-bottom: 30px;
    color: #2c3e50;
  }
 
  
  .form-container-box input {
    width: 100%;
    padding: 15px;
    border: 1px solid #ddd;
    border-radius: 4px;
    font-size: 16px;
    margin: 10px;
  }
  
 
  
  .form-container-box button {
    width: 100%;
    padding: 12px;
    background-color: #3498db;
    color: white;
    border: none;
    border-radius: 4px;
    font-size: 16px;
    cursor: pointer;
    transition: background-color 0.3s;
    margin-top: 10px;
  }
  
  .result-container-box button {
    width: 100%;
    padding: 12px;
    background-color: #3498db;
    color: white;
    border: none;
    border-radius: 4px;
    font-size: 16px;
    cursor: pointer;
    transition: background-color 0.3s;
    margin-top: 10px;
  }
  
  .btn:hover {
    background-color: #2980b9;
  }
  
  .result-container-box {
    background-color: white;
    border-radius: 8px;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
    padding: 50px;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
  }
